@model IEnumerable<SistemaAcademico.Entidades.Aluno>


<table class="table table-bordered text-center">
    <tr>
        <th>
            Ranking
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaPonderada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaPonderadaEProvaFinal)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProvaEspecial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaCompeticao)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaPonderada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaPonderadaEProvaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvaEspecial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaCompeticao)
            </td>
        </tr>
    }

</table>

<div>
  @Html.Partial("~/Views/Premios/MostrarRanking.cshtml")
</div>
