@model IEnumerable<SistemaAcademico.Entidades.Aluno>

<div class="justify-content-md-center">
    <h1 class="text-center"> MELHORES ALUNOS</h1>
</div>


<table class="table table-bordered text-center table-striped table-hover">
    <tr>
        <th>
            Ranking
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaFinalComTodasAsProvas)
        </th>

    </tr>
    @{
        int x = 0;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@{x = x + 1;} @x</td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaFinalComTodasAsProvas)
            </td>
        </tr>
    }

</table>


